@import url(./__carousel/box__carousel.css);
@import url(./__carousel-image/box__carousel-image.css);
@import url(./__carousel-page/box__carousel-page.css);

.box {
    position: relative;
    width: 1024px;
    height: 768px;
}